In [1]:
import pandas_datareader as web
import datetime as dt

START = dt.datetime(1960, 1, 1)
END = dt.datetime(2024, 8, 1)

# Function to get US inflation data YoY
def get_us_inflation_data_yoy():
    # Fetch CPI data from FRED
    cpi_data = web.DataReader("CPIAUCNS", "fred", START, END)

    # Calculate YoY inflation rate
    cpi_data['Inflation Rate YoY'] = cpi_data['CPIAUCNS'].pct_change(12) * 100

    # Drop NaN values
    cpi_data = cpi_data.dropna()

    return cpi_data

# Get US inflation data YoY
cpi_yoy = get_us_inflation_data_yoy()

# Display the DataFrame
cpi_yoy

            CPIAUCNS  Inflation Rate YoY
DATE
1961-01-01    29.800            1.706485
1961-02-01    29.800            1.360544
1961-03-01    29.800            1.360544
1961-04-01    29.800            1.016949
1961-05-01    29.800            1.016949
...              ...                 ...
2023-08-01   307.026            3.665112
2023-09-01   307.789            3.699698
2023-10-01   307.671            3.241145
2023-11-01   307.051            3.137271
2023-12-01   306.746            3.352123

[756 rows x 2 columns]