In [31]:
import yfinance as yf
import pandas_ta as ta
import pandas as pd

In [49]:
# Step 1: Collect Bitcoin 1-year price data
symbol = 'BTC-USD'
start_date = '2022-01-01'
end_date = '2022-12-31'

bitcoin_data = yf.Ticker(symbol).history(
    interval = "1d",
    start = start_date)
bitcoin_data.index = pd.to_datetime(bitcoin_data.index)
bitcoin_data.index = bitcoin_data.index.astype(int) // 10**9
bitcoin_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1640995200,46311.746094,47827.312500,46288.484375,47686.812500,24582667004,0.0,0.0
1641081600,47680.925781,47881.406250,46856.937500,47345.218750,27951569547,0.0,0.0
1641168000,47343.542969,47510.726562,45835.964844,46458.117188,33071628362,0.0,0.0
1641254400,46458.851562,47406.546875,45752.464844,45897.574219,42494677905,0.0,0.0
1641340800,45899.359375,46929.046875,42798.222656,43569.003906,36851084859,0.0,0.0
...,...,...,...,...,...,...,...
1705968000,39518.714844,40127.351562,38521.894531,39845.550781,29244553045,0.0,0.0
1706054400,39877.593750,40483.785156,39508.796875,40077.074219,22359526178,0.0,0.0
1706140800,40075.550781,40254.480469,39545.664062,39933.808594,18491782013,0.0,0.0
1706227200,39936.816406,42209.386719,39825.691406,41816.871094,25598119893,0.0,0.0
1706313600,41815.625000,41926.406250,41472.210938,41746.035156,18916116480,0.0,0.0

In [51]:
from datetime import datetime

timestamp = 1641340800
date_time = datetime.utcfromtimestamp(timestamp)

print(f"The corresponding date and time is: {date_time}")

The corresponding date and time is: 2022-01-05 00:00:00

In [52]:
from datetime import datetime, timezone

# Given date string
date_string = '2022-01-05'

# Convert to datetime object
date_object = datetime.strptime(date_string, '%Y-%m-%d')

# Convert to Unix timestamp
timestamp = int(date_object.replace(tzinfo=timezone.utc).timestamp())

print(f"The Unix timestamp for {date_string} is: {timestamp}")

The Unix timestamp for 2022-01-05 is: 1641340800

In [50]:
difference_in_seconds = 1641772800 -1641427200
difference_in_days = difference_in_seconds / (24 * 3600)
difference_in_days

4.0

In [20]:
sma10 = ta.sma(bitcoin_data["Close"], length=10)
bitcoin_data['SMA10'] = sma10
bitcoin_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,SMA10
Date,,,,,,,,
2022-01-01 00:00:00+00:00,46311.746094,47827.312500,46288.484375,47686.812500,24582667004,0.0,0.0,NaN
2022-01-02 00:00:00+00:00,47680.925781,47881.406250,46856.937500,47345.218750,27951569547,0.0,0.0,NaN
2022-01-03 00:00:00+00:00,47343.542969,47510.726562,45835.964844,46458.117188,33071628362,0.0,0.0,NaN
2022-01-04 00:00:00+00:00,46458.851562,47406.546875,45752.464844,45897.574219,42494677905,0.0,0.0,NaN
2022-01-05 00:00:00+00:00,45899.359375,46929.046875,42798.222656,43569.003906,36851084859,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
2024-01-08 00:00:00+00:00,43948.707031,47218.000000,43244.082031,46970.503906,42746192015,0.0,0.0,43964.097656
2024-01-09 00:00:00+00:00,46987.640625,47893.699219,45244.714844,46139.730469,39821290992,0.0,0.0,44362.380469
2024-01-10 00:00:00+00:00,46121.539062,47647.222656,44483.152344,46627.777344,50114613298,0.0,0.0,44798.639453
2024-01-11 00:00:00+00:00,46656.074219,48969.371094,45678.644531,46368.585938,45833734549,0.0,0.0,45018.764844
2024-01-13 00:00:00+00:00,42799.445312,43117.929688,42464.460938,43117.929688,44737839104,0.0,0.0,44834.760938

In [22]:
# Calculate SMA10 slope
# bitcoin_data['SMA10_Slope'] = np.gradient(bitcoin_data['SMA10'])

# Calculate SMA10 slope
bitcoin_data['SMA10_Slope'] = ta.slope(bitcoin_data['SMA10'])

In [27]:
bitcoin_data[abs(bitcoin_data.SMA10_Slope) < 20]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,SMA10,SMA10_Slope
Date,,,,,,,,,
2022-01-16 00:00:00+00:00,43172.039062,43436.808594,42691.023438,43113.878906,17902097845,0.0,0.0,42569.221094,-4.705078
2022-01-19 00:00:00+00:00,42374.039062,42478.304688,41242.914062,41744.328125,23091543258,0.0,0.0,42685.927734,-16.727344
2022-03-06 00:00:00+00:00,39404.199219,39640.175781,38211.648438,38419.984375,19745229902,0.0,0.0,40691.110547,8.737500
2022-03-15 00:00:00+00:00,39664.250000,39794.628906,38310.210938,39338.785156,23934000868,0.0,0.0,39119.386719,-6.180078
2022-04-25 00:00:00+00:00,39472.605469,40491.753906,38338.378906,40458.308594,35445730570,0.0,0.0,40352.679688,-9.515625
...,...,...,...,...,...,...,...,...,...
2023-12-24 00:00:00+00:00,43728.367188,43945.523438,42786.917969,43016.117188,18830554085,0.0,0.0,42870.357031,-0.785547
2023-12-28 00:00:00+00:00,43468.199219,43804.781250,42318.550781,42627.855469,22992093014,0.0,0.0,43274.974609,0.431641
2023-12-29 00:00:00+00:00,42614.644531,43124.324219,41424.062500,42099.402344,26000021055,0.0,0.0,43257.862109,-17.112500
2024-01-01 00:00:00+00:00,42280.234375,44175.437500,42214.976562,44167.332031,18426978443,0.0,0.0,42964.873828,16.942969
2024-01-03 00:00:00+00:00,44961.601562,45503.242188,40813.535156,42848.175781,46342323118,0.0,0.0,43069.922266,-16.794141

In [2]:
from datetime import datetime

# Example dates
date_str1 = "2023-02-15"
date_str2 = "2024-01-27"

# Convert string dates to datetime objects
date_obj1 = datetime.strptime(date_str1, "%Y-%m-%d")
date_obj2 = datetime.strptime(date_str2, "%Y-%m-%d")

# Calculate the difference between the two dates
date_difference = date_obj2 - date_obj1

# Print the result
print(f"The difference between the two dates is: {date_difference}")

The difference between the two dates is: 346 days, 0:00:00

In [19]:
bitcoin_data.index[0]

Timestamp('2022-01-01 00:00:00+0000', tz='UTC')

In [20]:
import pandas as pd

# bitcoin_data['Date'] = pd.to_datetime(bitcoin_data['Date'])
target_date = pd.to_datetime('2022-01-05')
bitcoin_data[bitcoin_data.index == target_date]

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Dividends, Stock Splits]
Index: []

In [ ]:
bitcoin_data[bitcoin_data['Date'] == target_date]

In [23]:
target_date = pd.to_datetime('2023-01-27')

# Use .loc to get the row for the specified date
price_for_target_date = bitcoin_data.loc[target_date, 'Close']  # Replace 'Close' with your actual column name

KeyError: Timestamp('2023-01-27 00:00:00')

In [25]:
# Assuming 'bitcoin_data' has a continuous date range
bitcoin_data = bitcoin_data.reindex(pd.date_range(start='2022-01-01', end='2024-01-27', freq='D'))

DatetimeIndex(['2022-01-01 00:00:00+00:00', '2022-01-02 00:00:00+00:00',
               '2022-01-03 00:00:00+00:00', '2022-01-04 00:00:00+00:00',
               '2022-01-05 00:00:00+00:00', '2022-01-06 00:00:00+00:00',
               '2022-01-07 00:00:00+00:00', '2022-01-08 00:00:00+00:00',
               '2022-01-09 00:00:00+00:00', '2022-01-10 00:00:00+00:00',
               ...
               '2024-01-18 00:00:00+00:00', '2024-01-19 00:00:00+00:00',
               '2024-01-20 00:00:00+00:00', '2024-01-21 00:00:00+00:00',
               '2024-01-22 00:00:00+00:00', '2024-01-23 00:00:00+00:00',
               '2024-01-24 00:00:00+00:00', '2024-01-25 00:00:00+00:00',
               '2024-01-26 00:00:00+00:00', '2024-01-27 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='Date', length=757, freq=None)

In [37]:
bitcoin_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-01-01 00:00:00+00:00,46311.746094,47827.312500,46288.484375,47686.812500,24582667004,0.0,0.0
2022-01-02 00:00:00+00:00,47680.925781,47881.406250,46856.937500,47345.218750,27951569547,0.0,0.0
2022-01-03 00:00:00+00:00,47343.542969,47510.726562,45835.964844,46458.117188,33071628362,0.0,0.0
2022-01-04 00:00:00+00:00,46458.851562,47406.546875,45752.464844,45897.574219,42494677905,0.0,0.0
2022-01-05 00:00:00+00:00,45899.359375,46929.046875,42798.222656,43569.003906,36851084859,0.0,0.0
...,...,...,...,...,...,...,...
2024-01-23 00:00:00+00:00,39518.714844,40127.351562,38521.894531,39845.550781,29244553045,0.0,0.0
2024-01-24 00:00:00+00:00,39877.593750,40483.785156,39508.796875,40077.074219,22359526178,0.0,0.0
2024-01-25 00:00:00+00:00,40075.550781,40254.480469,39545.664062,39933.808594,18491782013,0.0,0.0
2024-01-26 00:00:00+00:00,39936.816406,42209.386719,39825.691406,41816.871094,25598119893,0.0,0.0
2024-01-27 00:00:00+00:00,41815.625000,41926.406250,41472.210938,41727.886719,19148367872,0.0,0.0

In [39]:
import pandas as pd

# Example Unix timestamps (replace these with your actual timestamps)
timestamp1 = 1641072000  # Unix timestamp for '2022-01-03 00:00:00'
timestamp2 = 1641494400  # Unix timestamp for '2022-01-07 00:00:00'

# Calculate the difference in seconds
difference_in_seconds = timestamp2 - timestamp1

# Convert the difference to days
difference_in_days = difference_in_seconds / (24 * 3600)
rounded_difference_in_days = round(difference_in_days)

print(f"Difference in days: {rounded_difference_in_days}")

Difference in days: 5

In [36]:
target_date = pd.to_datetime('2023-01-27')

# Use .loc to get the row for the specified date
price_for_target_date = bitcoin_data.loc[target_date, 'Close']
price_for_target_date

KeyError: Timestamp('2023-01-27 00:00:00')

In [28]:
price_for_target_date

nan

In [29]:
import pandas as pd

date_string = '2022-01-01 00:00:00+00:00'

# Convert string to timestamp
timestamp = pd.to_datetime(date_string)

print(f"Timestamp: {timestamp}")

Timestamp: 2022-01-01 00:00:00+00:00

In [30]:
import pandas as pd

date_string = '2022-01-01'
timestamp = pd.to_datetime(date_string)

# Convert to Unix timestamp
# unix_timestamp = int(timestamp.timestamp())

# print(f"Unix Timestamp: {unix_timestamp}")

Unix Timestamp: 1640995200

In [40]:
timestamp

Timestamp('2022-01-01 00:00:00+0000', tz='UTC')

TypeError: fromisoformat: argument must be str